repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
        - id: check-ast
        - id: check-merge-conflict
        - id: end-of-file-fixer
        - id: mixed-line-ending
        - id: trailing-whitespace
        - id: requirements-txt-fixer
    - repo: https://github.com/myint/autoflake
      rev: v1.4
      hooks:
        - id: autoflake
          args: ["--in-place",
                 "--remove-all-unused-imports",
                 "--remove-unused-variables",
                 "--ignore-init-module-imports"]
    - repo: https://github.com/pycqa/isort
      rev: 5.8.0
      hooks:
        - id: isort
          args: ["--profile", "black", "--filter-files"]
    - repo: https://github.com/psf/black
      rev: 21.6b0
      hooks:
        - id: black
          language_version: python3
    - repo: https://github.com/asottile/pyupgrade
      rev: v2.19.4
      hooks:
        - id: pyupgrade
          args: ["--py39-plus"]
