aiofiles
aiohttp[speedups]
aria2p
async_generator
asyncurban
base
beautifulsoup4
bitlyshortener
bs4
cffi
coffeehouse
colour
covid
cowpy
cryptg
csvfaker
deezloader
dnspython
emoji
Faker==8.1.2
fontTools
geopy
git+https://github.com/ahupp/python-magic
git+https://github.com/johnwmillr/LyricsGenius.git
git+https://github.com/Ncode2014/search-engine-parser
git+https://github.com/voins/google-images-download.git@2cd68173c961324a2c41c61e8b6f40a49663ce60
gitpython
glitch_this
google_images_download
google_trans_new
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==3.1.0a0
gTTS
gTTS-token
hachoir
hentai
heroku3
html_telegraph_poster
httplib2
humanize 
jikanpy
jotquote
js2py
justwatch
lottie
lxml
lyricsgenius
markdown
natsort
nekos.py
oauth2client
opencv-python
patool
pendulum
Pillow
pip>=19.2.3
prettytable
psutil
psycopg2
psycopg2-binary
pyaztro
pyaztro
pybase64
pyDownload
PyDrive2
pyfiglet
PyGithub
pylast
pymongo[srv]
PyPDF2
pySmartDL
python-barcode
python-dateutil
python-dotenv
pytube>=9.5.1
pytz
qrcode
rarfile
redis>=3.3.10
REPO_LINK
requests
scipy
selenium>=3.141.0 
setuptools>=28.8.0
speedtest-cli
sqlalchemy<=1.3.23
telegraph
telethon
telethon-session-sqlalchemy
telethon-tgcrypto
twitter_scraper
urbandict
validators
vcsi
wand
wget
wheel
wikipedia
wordcloud
youtube_search
youtube-dl
youtube-search
youtube-search-python
zipfile38
