aiofiles
aiohttp[speedups]
async_generator
asyncurban
beautifulsoup4
bitlyshortener
bs4
colour
cloudscraper
covid
cowpy
deezloader
dnspython
emoji
faker
ffmpeg-python
fontTools
geopy
git+https://github.com/1danish-00/carbon-now-sh-api-wrapper.git
git+https://github.com/buddhhu/img2html.git
git+https://github.com/yt-dlp/yt-dlp@master
gitpython
glitch_this
google_images_download
google_trans_new
googletrans==4.0.0rc1
gtts
hachoir
hentai
heroku3
html_telegraph_poster
htmlwebshot
httplib2
humanize 
jikanpy
js2py
justwatch
lottie
lxml
markdown
motor
natsort
nekos.py
opencv-python-headless
pafy
pendulum
pillow
psutil
psycopg2-binary
py-tgcalls
pyaztro
pybase64
pyfiglet
PyGithub
pylast
PyPDF2
pySmartDL
python-barcode
python-dotenv
pytz
qrcode
rarfile
randomstuff.py
regex
requests
scipy
search-engine-parser
selenium
setuptools
spamwatch
speedtest-cli
sqlalchemy-json
sqlalchemy==1.3.23
telegraph
telethon
telethon-session-sqlalchemy
telethon-tgcrypto
urbandict
validators
vcsi
wand
wget
wikipedia
wordcloud
youtube-dl
youtube-search
youtube-search-python==1.4.9
zipfile38
