# Masukan APP ID ambil di web my.telegram.org
API_KEY = "967074"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "68f11651f716e71f62a5f779094c032a"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOKkBu1ZcxzjVmDEb0V2GwRpVh0Fjv0PyU-bAm9_-_nbLHLWEbKuMGmzEFHj6e-Pu14NCA2dq23XirWsrMw2s0dO1PRekFagIARm658WRkB0PL6MIk8takRbRNlVEDqK3EC20JdaiIGMiYcACsC3LRemuMb0-NA1vJkLf6FhwczS2zBUZhIHbvjsyEZnS7r5LGb6qm9n2WRFc6uPuzwd6iTo5QoX5FgjpEJdexEKLC885pMYL0anmCsObHqpBvURvaBIjFMcSIFIJ5HEY7OScVEfwKco4wqvZfXxYYP4HBGprM9MHYZqiYsiY_Qv-jjk7gqoQ4PyAJAq_3vsrslaxwgc5kSA="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "1329500143:AAGNafzps8MNpCjpTKpBDIS-C0zt7xECoHM"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -100 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://blqomugn:zBn24f7iyug-Xmg9o3PhUqI0TWn5b-Hw@peanut.db.elephantsql.com/blqomugn"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

